<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="DefaultConnection" connectionString="Server=tcp:cgi-wradbserver.database.windows.net,1433;Initial Catalog=CGI-WRA_db;Persist Security Info=False;User ID=grotebaas;Password=Grote7856;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>