<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MeetNSeat</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="data-checker">
                        <span class="oi oi-plus" aria-hidden="true"></span> Data Checker
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="dashboard">
                        <span class="oi oi-plus" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="reservation">
                        <span class="oi oi-plus" aria-hidden="true"></span> Make reservation
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="issue">
                        <span class="oi oi-plus" aria-hidden="true"></span> Report issue
                    </NavLink>
                </li>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
                    <span>Facility manager</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="issue-panel">
                        <span class="oi oi-plus" aria-hidden="true"></span> Issue Panel
                    </NavLink>
                </li>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
                    <span>Admin</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="feedback">
                        <span class="oi oi-plus" aria-hidden="true"></span> Feedback
                    </NavLink>
                </li>
                
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="locations">
                        <span class="oi oi-plus" aria-hidden="true"></span> Locations
                    </NavLink>
                </li>

            </Authorized>
            <NotAuthorized>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>

            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}