@page "/feedback/new/"
@using MeetNSeat.Client.Services
@using MeetNSeat.Client.Models
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Add new feedback</h2>
    </div>
    <div>
        <p>@msg</p>
        <form>
            <div class="form-group">
                <label for="feedback">Feedback</label>
                <input type="text" @bind="Description" @bind:event="oninput" class="form-control" id="feedback" placeholder="Feedback">
            </div>
            <div class="form-group">
                <label for="feedbackstate">Give me a smiley</label>
                <select class="form-control" @bind="FeedbackState" @bind:event="oninput" id="feedbackstate">
                    <option value="1">:(</option>
                    <option value="2">:|</option>
                    <option value="3">:)</option>
                </select>
            </div>
            <button @onclick="AddNewFeedback" type="button" class="btn btn-primary">Submit your feedback</button>
        </form>
    </div>
</main>

@code {
    private static string Description { get; set; } = null;
    private static int? FeedbackState { get; set; } = null;
    private static string msg { get; set; }
    private static async Task AddNewFeedback()
    {
        msg = await FeedbackService.AddFeedback(new FeedbackModel(Description, FeedbackState));
    }
    protected override async Task OnInitializedAsync()

    {
        msg = msg;
    }
}