<div class="row">
    @if (Collapsed)
    {
        <span @onclick="@Toggle" class="oi oi-plus mr-1"/>
    }
    else
    { 
        <span @onclick="@Toggle" class="oi oi-minus mr-1"/>
    }
    @Title
</div>

@if(!Collapsed)
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool Collapsed { get; set; }
    [Parameter]
    public string Title { get; set; }

    void Toggle()
    {
        Collapsed = !Collapsed;
    }
}