@page "/ipchecker"

@using MeetNSeat.Client.Services
@using System.Net.Http.Json
@using MeetNSeat.Client.Models
@attribute [Authorize]
@inject IApiClientService ApiClientService;

<div>
    <h4>User Ip - @ipAddress.IP</h4>
</div>

@code {
    IpAddress ipAddress = new IpAddress();
    protected override async  Task OnInitializedAsync()
    {
        ipAddress =  await ApiClientService.GetUserIPAsync();
    }
}