@inject IUserUtils _userUtils;

@page "/issue"
@using MeetNSeat.Client.Services
@using MeetNSeat.Client.Models
@using MeetNSeat.Client.Utils
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Report issue</h2>
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="issue" class="form-label">Issue</label>
                <textarea class="form-control" id="issue" placeholder="Enter your issue here." style="height: 100px" @bind="Description" @bind:event="oninput" maxlength="1000"></textarea>
                Characters : @Description.Length / 1000
            </div>
            <div class="mb-3">
                <label for="room" class="form-label">Room</label>
                <select class="form-control" @bind="Room" @bind:event="oninput" aria-label="Default select example">
                    <option disabled selected placeholder="If the problem is related to a room u can select it here">Selecteer een kamer</option>
                    <option value="1">Kamer 1</option>
                    <option value="2">Kamer 2</option>
                    <option value="3">Kamer 3</option>
                </select>
            </div>
            <button @onclick="AddIssue" type="button" disabled="@IsDisabled" class="btn btn-primary">Meld probleem</button>
        </form>
    </div>
</main>

@{ IsDisabled = Description.Length <= 0; }

@code {
	private static string Description { get; set; } = string.Empty;

    private int Room { get; set; }
    
    private bool IsDisabled { get; set; } = true;

    private async Task AddIssue()
    {
        await IssueService.AddIssue(new IssueModel(Description, Room, _userUtils.GetUserId().ToString()));
    }
}
