@inject IssueService _issueService;

@page "/issue"
@using MeetNSeat.Client.Services
@using MeetNSeat.Client.Models
@using System.Configuration
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Probleem melden</h1>
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="issue" class="form-label">Probleem</label>
                <textarea class="form-control" id="issue" style="height: 100px" @bind="Description" @bind:event="oninput"  maxlength="1000"></textarea>
                Characters : @Description.Length / 1000
            </div>
            <div class="mb-3">
                <label for="room" class="form-label">Kamer</label>
                <select class="form-control" aria-label="Default select example">
                    <option disabled selected>Selecteer een kamer</option>
                    <option value="1">Kamer 1</option>
                    <option value="2">Kamer 2</option>
                    <option value="3">Kamer 3</option>
                </select>
            </div>
            <button @onclick="AddIssue" disabled="@IsDisabled" type="submit" class="btn btn-primary">Meld probleem</button>
        </form>
    </div>
</main>

@code {
	private string Description { get; set; } = string.Empty;

    private IssueModel NewIssue { get; set; }
    
    private bool IsDisabled { get; set; }
    
    private void AddIssue()
    {
        // _issueService.AddIssue(NewIssue);
    }
}
