@page "/pillory"
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto
             col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
        <h1 class="h3">Schandpaal</h1>
        <table class="table table-striped red">
            <thead>
                <tr>
                    <th scope="col">Tijd</th>
                    <th scope="col">Locatie</th>
                    <th scope="col">Kamer</th>
                    <th scope="col">Presentie</th>
                    <th scope="col">Persoon</th>
                </tr>
            </thead>
            <tbody>
                <tr class="color:red">
                    <td>13:00 - 14:00</td>
                    <td>Eindhoven</td>
                    <td>2.20</td>
                    <td>Afwezig</td>
                    <td>Owen de Bree</td>
                </tr>
                <tr class="color:red">
                    <td>08:00 - 11:00</td>
                    <td>Eindhoven</td>
                    <td>3.15</td>
                    <td>30 min telaat</td>
                    <td>Siem Lucassen</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>