@page "/reservation"
@using MeetNSeat.Client.Models
@using MeetNSeat.Client.Services
@using Blazored.SessionStorage
@inject ISessionStorageService Storage
@attribute [Authorize]

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Create reservation</h2>
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="Location" class="form-label">Location</label>
                <select class="form-control" @bind="Location" aria-label="Default select example">
                    <option disabled selected placeholder="Select a location here">Select a location</option>
                    <option value="1">Eindhoven</option>
                    <option value="2">Sommeren</option>
                    <option value="3">Maaskantje</option>
                </select>

                <label for="Room" class="form-label">Room type</label>
                <select class="form-control" @bind="Room" aria-label="Default select example">
                    <option disabled selected placeholder="Select a location here">Select a room type</option>
                    <option value="1">Conference</option>
                    <option value="2">Workplace</option>
                </select>

                <label for="Attendees" class="form-label">Attendees</label>
                <input type="number" class="form-control" id="Attendees" placeholder="Attendees">

                <input type="datetime-local" value="@StartDate" />
                <input type="datetime-local" value="@EndDate" />
            </div>
            <button @onclick="AddReservation" type="button" disabled="@IsDisabled" class="btn btn-primary">Meld probleem</button>
        </form>
    </div>
</main>

@code {


    private int Location { get; set; } 

    private int Room { get; set; }

    private bool IsDisabled { get; set; } = true;

    private DateTime StartDate { get; set; }
    private DateTime EndDate { get; set; }

    private async Task AddReservation()
    {
        var storedUserId = await Storage.GetItemAsync<string>("userId");
        await UserService.CreateReservation(new ReservationModel(storedUserId, Location, Room, StartDate, EndDate));
    }
}
