* {
    font-family: 'Roboto', sans-serif;
}

body, html, #app {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/woman.jpg");*/
    /*background-image: linear-gradient(to right, rgb(228,25,56) 0%,,rgb(83,54,171) 80%);
    background-image: radial-gradient()*/
    background: -webkit-radial-gradient(bottom right,rgb(228,25,56) 0%,rgb(83,54,171) 80%);
    background: radial-gradient(at bottom right, rgb(228,25,56) 0%,rgb(83,54,171) 80%);
    /* Set a specific height */
    height: 50%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}


.cgi-text {
    color: #5236ab !important;
}

.bg-whitesmoke {
    background-color: #f8f8f8 !important;
}

.jumbotron-contact {
    padding: 100px;
}

.btn-circle {
    border-radius: 25px;
    border: 0;
    width: 100px;
    height: 40px;
    background-color: #5236ab!important;
}

.mockup {
    right: 5%;
    width: 40%;
    position: absolute;
    bottom: -10%;
}

@media only screen and (max-width: 800px) {
    .mockup {
        display: none;
    }
    .hero-text {
        left: 38%!important;
    }
}

@media only screen and (max-width: 1150px) {
    .hero-text {
        left: 25%;
    }
}

@media only screen and (max-width: 900px) {
    .hero-text {
        left: 30%;
    }
}

@media only screen and (max-width: 640.98px) {
    .top-row:not(.auth)[b-gebzidb0rb] {
        display: flex !important;
    }
}

.table-breakword > td {
    word-break: break-word;
}